/* Variables */
:root {
}
/* Universal */
*, 
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* Button */
.btn {
  text-transform: uppercase;
  background-color: red;
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: ;
  display: inline-block;
  font-weight: 700;
  transition: ;
  font-size: 0.875rem;
  border: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background-color: blue;
}

.section {
  padding: 5rem 0;
}


/* Navbar */
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: ;
}

.nav-centrado {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.nav-logo {
  font-size: 2rem;
}

.nav-btn {
  background-color: transparent;
  border-color: transparent;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  justify-self: end;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    background-color: #ccc;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: blue;
    font-weight: 400;
    letter-spacing: ;
    transition: ;
  }
  .nav-links a:hover {
    color: red;
  }
  .nav-centrado {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

/* Fixed Navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: azure;
  z-index: 2;
  box-shadow: ;
}


/* Navbar Responsive */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(195, 195, 195);
  z-index: 4;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: ;
  /* add later */
  transform: translateX(-100%);
}

/* Toggle Sidebar */
.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: ;
  color: blue;
  letter-spacing: ;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: red;
}

.social-iconos {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.social-icono {
  font-size: 1.5rem;
  color: blue;
  transition: ;
}

.social-icono:hover {
  color: red; 
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border: transparent;
  transition: ;
  color: #bb2525;
  cursor: pointer;
}

.close-btn:hover {
  color: #e66b6b;
}



/* Hero Section */
.section-centrado {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-centrado {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background-color: #e66b6b;
  margin-left: auto;
  margin-right: auto;
}

.hero .underline{
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-img {
  display: none;
}

.hero {
  background-color: bisque;
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  align-items: center;
  justify-content: center;
}

.hero-info h4 {
  color: grey;
}

.hero-iconos {
  justify-items: start;
}

.hero-btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
}

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
}

/* Sobre mi */
.section-titulo {
  margin-bottom: 4rem;
  text-align: center;
}

.sobremi-titulo {
  text-align: left;
  margin-bottom: 2rem;
}

.sobremi-titulo .underline {
  margin-left: 0;
}

.sobremi-centrado {
  display: grid;
  gap: 3rem 2rem;
}

.sobremi-img {
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .sobremi-centrado {
    grid-template-columns: 1fr 1fr;
  }
  .sobremi-img {
    position: relative;
  }
  .sobremi-img::before {
    left: -2rem;
  }
  .sobremi-info {
    align-self: center;
  }
}


/* Skills */
.skills {
  background-color: hsl(45, 90%, 88%);
}

.skill {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.skill h3 {
  margin: 1.5rem 0;
  color: #111;
}

.skill p {
  margin-bottom: 0.5rem;
  color: #111;
  text-align: start;
}

.skill-container {
  background-color: #fff;
  height: 1rem;
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
  height: 100%;
  width: 50%;
  border-radius: 15px;
}

.skill-text {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Skill Porcentaje */
.value-90 {
  width: 90%;
}

.skill-text-90 {
  left: 90%;
}

.value-75 {
  width: 75%;
}

.skill-text-75 {
  left: 75%;
}

.value-60 {
  width: 60%;
}

.skill-text-60 {
  left: 60%;
}

.value-45 {
  width: 45%;
}

.skill-text-45 {
  left: 45%;
}

.value-25 {
  width: 25%;
}

.skill-text-25 {
  left: 25%;
}

.value-15 {
  width: 15%;
}

.skill-text-15 {
  left: 15%;
}









/* Footer */
.footer {
  display: grid;
  background-color: #222;
  place-items: center;
  padding-bottom: 2rem;
}

.footer .social-iconos {
  margin-bottom: 2.5rem;
}

.footer p {
  color: #fff;
  font-size: 1.25rem;
}